.navigation__list_group {
  width: 60%;
  height: 5rem;
  padding: 0.5rem 1.5rem;
  margin: 0 auto;
  display: flex;
  align-content: center;
  list-style: none;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #150C42;
}