.news {
  width: 45%;
  height: 250px;
  margin-bottom: 30px;
  position: relative;
  color: black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1607843137254902);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0;
}

.news___title {
  width: 30%;
  background-color: #55595D;
  color: white;
}

.news___body {
  width: 70%;
}

.news___container {
  display: flex;
  flex-flow: column;
  height: 70%;
  justify-content: space-between;
  padding: 0 10px;
}

.news___content {
  margin: 10px 0;
  text-align: justify;
}

.news__type {
  width: 60%;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: right;
  padding: 5px;
  color: white;
}

.type__note {
  background-color: #6811FC;
}
.type__seminar {
  background-color: #0B2CA5;
}
.type__conference {
  background-color: #13663C;
}
.type__blogpost {
  background-color: rgb(9, 100, 116);
}

.news___container a {
  margin-left: auto;
  width: 120px;
  line-height:1em;
  letter-spacing:0.06em;
  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:16px;
  text-decoration:none;
  color: black;
  background:#fff;
  outline: #6811FC;
  display:inline-block;
  padding:15px 12px 15px 15px;
  transition:background 200ms;
  border-radius:4px;
}
.news___container a:hover {
  background:#cea052;
}
.news___container a:after {
  font-family: 'FontAwesome', sans-serif;
  font-weight:300;
  content: "\f105";
  margin-left:20px;
  color:#cea052;
  font-size:18px;
  vertical-align:middle;
  transition:color 200ms;
}

.news___container a:hover:after {
  color:#231f20;
}


@media(max-width: 720px) {
  .news {
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
  }
}