.main {
  width: 60%;
  margin: 10px auto;
  padding: 0;

}

.main__content {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

@media(max-width: 720px) {
  .main {
    width: 100%;
  }
}